<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Yupp &#8211; Eco-Friendly Disposable Tableware</title>
	<atom:link href="https://www.yupp.co.in/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.yupp.co.in</link>
	<description>Disposable Tableware made from Bagasse</description>
	<lastBuildDate>Wed, 23 Jun 2021 07:29:40 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.3</generator>
	<item>
		<title>Our Products and the meaning of the words ‘Compostable’ and ‘Biodegradable’</title>
		<link>https://www.yupp.co.in/compostable-and-biodegradable/</link>
					<comments>https://www.yupp.co.in/compostable-and-biodegradable/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 22 Jun 2021 11:06:21 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<guid isPermaLink="false">https://redpawarts.com/earth-eco/?p=556</guid>

					<description><![CDATA[Our key products are various types of disposable food packaging designed for individual meals in the eating-in and takeaway formats. Our disposable tableware products, such as meal trays, glasses, bowls and containers with and without lids, are made from bagasse, the dry pulpy residue left after the extraction of juice from sugar cane. ]]></description>
										<content:encoded><![CDATA[Our key products are various types of disposable food packaging designed for individual meals in the eating-in and takeaway formats. Our disposable tableware products, such as meal trays, glasses, bowls and containers with and without lids, are made from bagasse, the dry pulpy residue left after the extraction of juice from sugar cane. ]]></content:encoded>
					
					<wfw:commentRss>https://www.yupp.co.in/compostable-and-biodegradable/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>With sustainability plastic and heat aren’t a good mix</title>
		<link>https://www.yupp.co.in/plastic-and-heat-arent-a-good-mix/</link>
					<comments>https://www.yupp.co.in/plastic-and-heat-arent-a-good-mix/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 18 Jun 2021 13:00:27 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<guid isPermaLink="false">http://localhost/earth-eco/?p=292</guid>

					<description><![CDATA[Plastic in food packaging can be one of the most hazardous ways of contaminating ourselves and being exposed to some of the short- and long-term risks associated with the chemicals found in plastic food packaging. Some of these risks may include, obesity, cancer, cardiovascular disease and other health issues. Therefore, avoiding the use of these chemicals of concern in packaging is a great step forward, which is why we have Pappco Greenware, an eco friendly packaging solution for all your needs!]]></description>
										<content:encoded><![CDATA[Plastic in food packaging can be one of the most hazardous ways of contaminating ourselves and being exposed to some of the short- and long-term risks associated with the chemicals found in plastic food packaging. Some of these risks may include, obesity, cancer, cardiovascular disease and other health issues. Therefore, avoiding the use of these chemicals of concern in packaging is a great step forward, which is why we have Pappco Greenware, an eco friendly packaging solution for all your needs!]]></content:encoded>
					
					<wfw:commentRss>https://www.yupp.co.in/plastic-and-heat-arent-a-good-mix/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hate Washing Dishes After A Party? &#8211; This will change your life</title>
		<link>https://www.yupp.co.in/hate-washing-dishes-after-a-party-this-will-change-your-life/</link>
					<comments>https://www.yupp.co.in/hate-washing-dishes-after-a-party-this-will-change-your-life/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 18 Jun 2021 09:30:49 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<guid isPermaLink="false">http://localhost/earth-eco/?p=291</guid>

					<description><![CDATA[Plastic in food packaging can be one of the most hazardous ways of contaminating ourselves and being exposed to some of the short- and long-term risks associated with the chemicals found in plastic food packaging. Some of these risks may include, obesity, cancer, cardiovascular disease and other health issues. Therefore, avoiding the use of these chemicals of concern in packaging is a great step forward, which is why we have Pappco Greenware, an eco friendly packaging solution for all your needs!]]></description>
										<content:encoded><![CDATA[Plastic in food packaging can be one of the most hazardous ways of contaminating ourselves and being exposed to some of the short- and long-term risks associated with the chemicals found in plastic food packaging. Some of these risks may include, obesity, cancer, cardiovascular disease and other health issues. Therefore, avoiding the use of these chemicals of concern in packaging is a great step forward, which is why we have Pappco Greenware, an eco friendly packaging solution for all your needs!]]></content:encoded>
					
					<wfw:commentRss>https://www.yupp.co.in/hate-washing-dishes-after-a-party-this-will-change-your-life/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>WARNING! Plastic and heat aren’t a good mix</title>
		<link>https://www.yupp.co.in/warning-plastic-and-heat-arent-a-good-mix/</link>
					<comments>https://www.yupp.co.in/warning-plastic-and-heat-arent-a-good-mix/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 18 Jun 2021 09:08:32 +0000</pubDate>
				<category><![CDATA[Blog]]></category>
		<guid isPermaLink="false">http://localhost/earth-eco/?p=287</guid>

					<description><![CDATA[Plastic in food packaging can be one of the most hazardous ways of contaminating ourselves and being exposed to some of the short- and long-term risks associated with the chemicals found in plastic food packaging. Some of these risks may include, obesity, cancer, cardiovascular disease and other health issues. Therefore, avoiding the use of these chemicals of concern in packaging is a great step forward, which is why we have Pappco Greenware, an eco friendly packaging solution for all your needs!]]></description>
										<content:encoded><![CDATA[Plastic in food packaging can be one of the most hazardous ways of contaminating ourselves and being exposed to some of the short- and long-term risks associated with the chemicals found in plastic food packaging. Some of these risks may include, obesity, cancer, cardiovascular disease and other health issues. Therefore, avoiding the use of these chemicals of concern in packaging is a great step forward, which is why we have Pappco Greenware, an eco friendly packaging solution for all your needs!]]></content:encoded>
					
					<wfw:commentRss>https://www.yupp.co.in/warning-plastic-and-heat-arent-a-good-mix/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
